* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
/* general */
.w-70 {
  width: 70%;
}
.mt-max {
  margin-top: 120px;
}
span {
  font-size: 1.2em;
}
/* NavBar */
.logo {
  width: 90px;
  height: 80px;
}
.navBg {
  background-color: #fafaf977;
}
.navBg .nav-link {
  color: #2d2d2a !important;
}
.navBg button {
  background-color: #2d2d2a94;
}
.nav-link {
  font-weight: bold;
  color: #fff !important;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a5935;
}
/* Header */
.header {
  height: 110vh;
  background-image: url("../images/top_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .container {
  height: 100%;
}
.header {
  color: #1a5935;
}
.girl-img {
  animation: up-down 1.4s ease-in-out infinite alternate-reverse both;
}
.my-btn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #32f191;
  padding: 11px 22px 11px 22px;
  text-decoration: none;
  border: none;
}

.my-btn:hover {
  background: #26a362;
  text-decoration: none;
}
/* Blogs */
/* .owl-item,
.owl-stage {
  box-shadow: 15px 16px 55px -18px rgba(10, 34, 20, 0.79) !important;
  -webkit-box-shadow: 15px 16px 55px -18px rgba(10, 34, 20, 0.79);
  -moz-box-shadow: 15px 16px 55px -18px rgba(10, 34, 20, 0.79);
} */
.blog-details {
  border: 1px solid rgba(0, 0, 0, 0.322);
  border-radius: 2px;
}
.blog-details div {
  background-color: #0a22140c;
}
/* .item {
  width: 90%;
} */
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background-color: #26a362;
  color: white;
  border-radius: 55px;
  border: none;
  font-weight: bold;
  padding: 15px 25px !important;
  position: relative;
  left: 40%;
  margin: 40px;
  transform: translate(-40%);
}
.owl-carousel button.owl-dot {
  display: none !important;
}

/* Footer */
.footer {
  background-color: rgb(32, 32, 32);
  color: #fff;
}
.footer li {
  list-style: none;
  opacity: 0.8;
}
.footer ul {
  height: 35vh;
}
.footer th {
  font-size: 20px;
}
.footer a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
.copyrights {
  border-top: #0a2214 1px solid;
}

/* Contact */
.form-control,
textarea {
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px !important;
  border: 1px rgba(10, 34, 20, 0.5) solid !important;
}
textarea {
  height: 300px;
  padding: 20px 20px !important;
}
@keyframes up-down {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}
@media only screen and (max-width: 576px) {
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    left: 28%;
    transform: translate(-100%);
  }
}
